# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE / Editor files
.idea/
*.iml
.vscode/

# Logs
*.log

# Test results (optional, agar aap JSON results git me nahi rakhna chahte)
*.json
